@media print {

  .App-header,
  h4.display-5,
  .keywords,
  .btn-edit {
    display: none;
  }

  .jumbotron {
    padding: 0 !important;
    border: none !important;
  }

  h1.display-3 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .recipeImage {
    margin-bottom: 20px;
  }



}
